<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>angular copy</title>
</head>

<body>
	<div ng-app="myApp" ng-controller="ExampleCtrl">
		<form>
			First name : <input type="text" ng-model="person.firstName"><br/>
			Last name : <input type="text" ng-model="person.lastName"><br/>
			Person status : 
			Admin <input type="radio" name="status" ng-model="status" value="admin"> 
			User <input type="radio" name="status" ng-model="status" value="user"><br/>
			<button ng-click="save(status, person)">Save</button> 
			<button ng-click="load(status)">Load</button> 
			<button ng-click="reset()">Reset</button> 
		</form><br/>
		<div>
			<pre>Person : {{ person | json }}</pre>
			<pre>Admin : {{ admin | json }}</pre>
			<pre>User : {{ user | json }}</pre>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
	<script src="app.js"></script>
</body>
</html>
