html
	head
		title!= 'Todo List'
	body
		p
			ul 
				each val in todoList
					li 
						a(href="/todo/delete/" + val) [x]
						span  #{val}

		form(action='/todo/add', method='POST')
			input(type="text" name="todo")
			button(type="submit") Add
