html
	head
		title!= 'Todo List'
	body
		p
			form(action='/todo/add', method='POST')
				input(type="text" name="todo")
				button(type="submit") Add

			ul
				each val in todoList
					li
						a(href="/todo/delete/" + val) [x]
						span  #{val}


