<!DOCTYPE html>
<html ng-app="mainApp" ng-controller="MainCtrl">
<head>
	<meta charset="utf-8" />
	<title>Menu</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<header>
		<span ng-show="showMenu" ng-click="$location.url($location.path())"> < </span>
		<button ng-hide="showMenu" ng-click="$location.search('menuActive', 1)">Afficher le menu</button>
		<button ng-show="showMenu" ng-click="$location.url($location.path())">Cacher le menu</button>
	</header>


	<nav ng-show="showMenu">
		<ul>
			<li>		
				<fieldset>
					<legend>Parametres</legend>
					Langue : 
					<select nane="langue">
						<option value="1">Fr</option>
						<option value="2">En</option>
						<option value="3">Es</option>
						<option value="4">Jp</option>
						<option value="5">Ru</option>
					</select>
				</fieldset>
			</li>
			<li>
				<fieldset>
					<legend>Profil</legend>
					<a href="">Connexion / voir le profil</a><br/>
					<a href="">Pages consultées</a>
				</fieldset>
			</li>
			<li>
				<fieldset>
					<legend>Autre</legend>
				</fieldset>
			</li>
		</ul>
	</nav>
	<article ng-hide="showMenu">
		Si le menu n'est pas actif, ce texte apparait.
	</article>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
	<script src="app.js"></script>
</body>
</html>
