<!DOCTYPE html>
<html ng-app="mainApp" ng-controller="MainCtrl">
<head>
	<meta charset="utf-8" />
	<title>Menu</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

	<div class="slides-images">
		<img ng-src="{{slide.img}}"
			class="slide"
			ng-repeat="slide in slides"
			ng-class="{active: mainImageUrl==slide.img}">
	</div>

	<ul class="slide-thumbs">
	  <li ng-repeat="slide in slides">
	    <img ng-src="{{slide.img}}" ng-click="setImage(slide.img)">
	  </li>
	</ul>


	<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular-animate.js"></script>

	<script src="animation.js"></script>
	<script src="app.js"></script>
</body>
</html>
