body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
	margin-top: 20px;
}

table td {
	width: 300px;
	border-bottom: 1px solid black;
}
table th {
	background-color: rgb(200, 200, 200);
}
