<!DOCTYPE html>
<html ng-app="">
<head>
	<meta charset="utf-8">
	<title>Json</title>
</head>

<body ng-init="sites = [
			{ name: 'Facebook', url: 'https://www.facebook.com/' },
			{ name: 'Twitter', url: 'https://twitter.com/' },
			{ name: 'Angular JS', url: 'https://angularjs.org/' },
			{ name: 'ANF', url: 'http://www.animenofamily.com/' },
			{ name: 'Youtube', url: 'https://www.youtube.com/' },
			{ name: 'Dailymotion', url: 'http://www.dailymotion.com/' },
			{ name: 'Feedly', url: 'https://feedly.com/' },
			{ name: 'Rutube', url: 'http://rutube.ru/' }
		]">
	<div>
		No filter : <br/>
		{{ sites }}<br/><br/>
		<input type="number" ng-model="tab" />
		Json filter :<br/>
		<pre ng-repeat="site in sites">{{ site | json:tab }}</pre>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
</body>
</html>
