extends ../layout

block content
	p
		a(href="/message/view") My messages
	p List of users:
	ul
		each user in users
			li
				a(href="/message/send/" + user.id) Send a message to
				span  #{user.name} #{user.firstname}


	p
		a(href="/logout") logout

