<!DOCTYPE html>
<html ng-app="mainApp" ng-controller="MainCtrl">
<head>
	<meta charset="utf-8">
	<title>$location</title>
	<style type="text/css">
		span {
			cursor: pointer;
			text-decoration: underline;
		}
	</style>
</head>

<body>
	<div>
		<span ng-click="changeUrl('/foo?bar=baz')">Set new url</span>
		<span ng-click="changeUrl('/foo?bar=baz#hash')">Set new url + hash</span>
		<span ng-click="changeUrl('/')">Reset</span><br/><br/>
		AbsUrl = {{ $location.absUrl() }}<br/><br/>
		url = {{ $location.url() }}<br/><br/>
		protocol = {{ $location.protocol() }}<br/><br/>
		host = {{ $location.host() }}<br/><br/>
		port = {{ $location.port() }}<br/><br/>
		path = {{ $location.path() }}<br/><br/>
		search = {{ $location.search() }}<br/><br/>
		hash = {{ $location.hash() }}<br/><br/>
		<!-- replace = {{ locArray.replace }}<br/><br/>
		state = {{ locArray.state }}<br/><br/> -->
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>	<script src="app.js"></script>
</body>
</html>
