<!DOCTYPE html>
<html ng-app="mainApp" ng-controller="MainCtrl">
<head>
	<meta charset="utf-8">
	<title>$location</title>
	<style type="text/css">
		span {
			cursor: pointer;
			text-decoration: underline;
		}
	</style>
</head>

<body>
	<div>
		<span ng-click="changeUrl('new')">Set new url</span> 
		<span ng-click="changeUrl('hash')">Set new url + hash</span> 
		<span ng-click="changeUrl('reset')">Reset</span><br/><br/>
		AbsUrl = {{ locArray.absUrl }}<br/><br/>
		url = {{ locArray.url }}<br/><br/>
		protocol = {{ locArray.protocol }}<br/><br/>
		host = {{ locArray.host }}<br/><br/>
		port = {{ locArray.port }}<br/><br/>
		path = {{ locArray.path }}<br/><br/>
		search = {{ locArray.search }}<br/><br/>
		hash = {{ locArray.hash }}<br/><br/>
		<!-- replace = {{ locArray.replace }}<br/><br/>
		state = {{ locArray.state }}<br/><br/> -->
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>	<script src="app.js"></script>
</body>
</html>
